.main {
  width: 100%;
  margin: 0 auto;
}

.container- {
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap {
  width: 390px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.loginForm {
  width: 100%;
}

.loginPrincipal {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333;
  line-height: 1.2;
  text-align: center;
}

.imagemUser img {
  margin-top: 20px;
  margin-left: 33%;
  width: 35%;
  height: 35%;
  border-radius: 50%;
}

button {
  margin-top: 50px;
}

.inputEmail {
  margin-top: 25px;
}

.inputPassword {
  margin-top: 10px;
}

button {
  padding: 7px 41% 7px;
}

.sign {
  margin-top: 30px;
}

#check{
  margin-top: 10px;
}

span {
  color: red;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 1.5px;
}

