<div class="main">
  <div class="container-">
    <div class="wrap">
      <form class="loginForm">

        <div>
          <span class="loginPrincipal">Login</span>
        </div>

        <div class="imagemUser">
          <img src="../../assets/person-male.png" alt="Person">
        </div>

        <div class="inputEmail">
          <input [(ngModel)]="usuario.email" type="email" name="email" class="form-control" placeholder="Email">
          <span *ngIf="this.exibirValidacao">*required / Email incorreto</span>
        </div>

        <div class="inputPassword">
          <input  [(ngModel)]="usuario.senha" type="password" name="password" class="form-control" placeholder="password">
          <span *ngIf="this.exibirValidacao">*required</span>
        </div>

        <div class="form-check" id="check">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label">Remember me</label>
        </div>

        <div>
          <button type="submit" (click)="fazerLogin()" [disabled]="insertsLogin.invalid" class="btn btn-outline-dark">LOGIN</button>
        </div>

        <div class="sign">
          <p>Dont't have on account?
            <a routerLink="/register">Sign Up</a>
          </p>
        </div>

      </form>
    </div>
  </div>
</div>

