#title {
  text-align: center;
  color: white;
}

#register {
  font-style: italic;
}

#about {
  font-style: italic;
}

#gwythyr {
  font-weight: bolder;
}

form {
  width: 50%;
  position: relative;
  margin-top: 5%;
}

#footer{
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgb(52, 58, 64);
  color: white;
  font-family: "Trirong", serif;
}

#loginE {
  font-style: italic;
  margin-right: 1%;
}

#loginDiv {
  text-align: center;
}

button:hover {
  background-color: rgb(52, 58, 64);;
  color: white;
  border: 2px solid rgb(52, 58, 64);
}

button:hover span {
  padding-right: 30px;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#required{
  color: red;
  font-size: 14px;
  font-weight: bolder;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button {
  transition-duration: 0.4s;
  padding: 10px 24px;
  border-radius: 5%;
  font-family: "Trirong", serif;
  background-color: white;
}

