<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="" id="gwythyr">GWYTHYR</a>
    <button class="btn btn-dark" type="submit" routerLink="/register" id="register">Register</button>
    <button class="btn btn-dark" type="submit" id="about">About</button>
  </div>
</nav>
<form class="container">
  <h3 class="display-4" id="title">LOGIN</h3>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input [(ngModel)]="usuario.email" type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input [(ngModel)]="usuario.senha"  name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <button type="submit" class="btn btn-outline-dark" (click)="fazerLogin()">Login</button>
</form>
<footer id="footer">
  <p> Thanks for you access </p>
</footer>
