#nome {
  font-weight: bolder;
}

h1 {
  text-align: center;
}

#title {
  font-weight: bolder;
}

#logout{
  transition-duration: 0.4s;
  padding: 5px 10px;
  border-radius: 5%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(52, 58, 64);
}

#logout:hover{
  background-color: rgb(13, 13, 14);;
  color: white;
  border: 2px solid rgb(33, 34, 36);
}

#save {
  transition-duration: 0.4s;
  padding: 5px 10px;
  border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  border-style: double;
}

#save:hover {
  background-color: rgb(0, 255, 55);
  color: white;
  border: 2px solid rgb(0, 255, 55);
}

#clear {
  text-align: right;
  margin-top: -3.4%;
}

#clearB {
  transition-duration: 0.4s;
  padding: 5px 10px;
  border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  border-style: double;
}

#clearB:hover {
  background-color: rgb(207, 218, 53);
  color: white;
  border: 2px solid rgb(207, 218, 53);
}

textarea {
  font-size: .8rem;
  letter-spacing: 1px;

}
textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

nav {
  background-color: rgb(32, 32, 32);
  color: white;
}

