<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="gwythyr">GWYTHYR</a>
  </div>
</nav>
<form class="container">
  <h3 class="display-4" id="title">REGISTER</h3>
  <br>
  <div class="mb-3">
    <input [(ngModel)]="R_usuario.nome" type="name" name="nome" class="form-control" id="exampleInputNome1" aria-describedby="nomeHelp" placeholder="Nome">
    <span *ngIf="insertRegister.get('nome')?.invalid" id="required">*required</span>
  </div>
  <div class="mb-3">
    <input [(ngModel)]="R_usuario.email" type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
    <span *ngIf="insertRegister.get('email')?.invalid" id="required">*required</span>
  </div>
    <div class="mb-3">
      <input [(ngModel)]="R_usuario.senha" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      <span *ngIf="insertRegister.get('senha')?.invalid" id="required">*required</span>
    </div>
    <div class="mb-3">
      <input [(ngModel)]="R_usuario.confirmSenha" name="Cpassword" type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
      <span *ngIf="insertRegister.get('confirmSenha')?.invalid" id="required">*required</span>
    </div>
    <div id="loginDiv">
      <button type="submit" id="register" (click)="registrar()">Register</button>
      <button type="submit" routerLink="/login" id="login"><span>Login</span></button>
    </div>
</form>
<footer id="footer">
  <p> Thanks for you access </p>
</footer>
